.app {
  background-color: #dae1ef;
  min-height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  header {
    height: 50px;
    width: 1200px;
    text-align: center;
    margin: 0 calc(50% - 600px);
    padding-top: 60px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color: rgb(74, 74, 112);
  }
  color: white;
  .productTitle {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 1030px;
    margin: 30px calc(50% - 560px);
    font-weight: bolder;
    padding: 10px;
    border: 1px solid grey;
    background-color: rgb(90, 93, 112);

    li {
      width: 150px;
    }
  }
  button {
    padding: 7px 10px;
    margin: 1px 2px 2px 1px;
    border-radius: 4px;
    background-color: rgb(90, 90, 115);
    color: white;
  }
  .view {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      align-items: flex-start;
    }
    img {
      width: 100%;
    }
  }

  .delete {
    background-color: #6a2125;
    text-transform: uppercase;
  }
  .editB {
    background-color: #0e4225;
    text-transform: uppercase;
  }
  .viewB {
    background-color: #0e4225;
    text-transform: uppercase;
  }
  .register {
    background-color: rgb(90, 90, 115);
    text-transform: uppercase;
    margin-top: 20px;
    color: rgb(253, 251, 251);
    font-weight: bolder;
  }
  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-decoration: none;
  }
  Link {
    text-decoration: none;
  }
  .buttons {
    display: flex;
    width: 300px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
.create,
.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create {
  background-color: #f1f5f8;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 calc(50% - 200px);
  border-radius: 4px;
  color: rgb(74, 74, 112);
  box-shadow: 2px 2px 5px grey;
  input,
  select {
    height: 30px;
    background-color: rgb(90, 93, 112);
    color: white;
    font-size: 20px;

    line-height: 20px;
  }
}
.edit,
.view {
  background-color: aliceblue;
  padding: 50px 100px;
  color: black;
  border: 1px solid rgb(71, 71, 84);
  box-shadow: 2px 5px 5px rgb(89, 87, 87);
  h2 {
    border: 1px solid rgb(41, 41, 79);
    background-color: rgb(90, 93, 112);
    color: white;
    padding: 5px 120px;
  }
  input,
  select {
    height: 30px;
    background-color: rgb(90, 93, 112);
    color: white;
    font-size: 20px;

    line-height: 20px;
  }

  // input[type="checkbox"] {
  //   margin: 30px;
  // }

  label {
    margin: 15px;
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(103, 116, 126, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.read {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: -20px calc(50% - 600px);
  // border: 1px solid rgb(8, 61, 92);
  //   align-items: center;
  //   justify-content: center;
  .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid grey;
    padding: 10px;
    color: black;
    .delete {
      background-color: #8b4246;
    }
    .editB {
      background-color: #216d43;
      text-transform: uppercase;
    }

    .buttons {
      display: flex;
      // width: 300px;
      flex-direction: row;
    }

    // button {
    //   padding: 7px 10px;
    //   margin: 2px 2px 1px;
    //   border-radius: 4px;
    //   background-color: rgb(90, 90, 115);
    //   color: white;
    // }

    li {
      list-style: none;
      width: 150px;
      text-transform: capitalize;
    }

    .active {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #eb131d;
      box-shadow: inset -5px -5px 5px rgba(83, 10, 10, 0.6),
        15px 15px 2px rgba(183, 7, 7, 0.04);
    }
    .notActive {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #3673cf;
      box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
        15px 15px 2px rgba(0, 0, 0, 0.04);
    }
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input[type="text"],
  select {
    width: 200px;
  }
}
